<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Everest Code</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
</head>

<body>

    <ul>
        <h2><a href="">Everest Code</a></h2>
        <li><a href="">Home</a></li>
        <li><a href="">Blogs</a></li>
        <li><a href="">About</a></li>
    </ul>

    {% block content %} {% endblock %}




    <footer>
        <div class="footer-div">
            <p>Address</p>
            Adress: Kathmandu,Npeal
            <br/><br/> 20 different branches across country.
            <br/>
        </div>

        <div class="footer-div">
            <p>Time</p>
            Lunch is served from <span style="color:rgb(176,176,176); font-atyle:italic">2:00PM to 7:00PM.</span>
            <br/><br/> We serve best potato in the city.
            <br/>
        </div>

        <div class="footer-div">
            <p>Testimonial</p>
            "They serve best in the town"
            <br/><br/> "They serve best pizza in the city!"
            <br/>
        </div>

    </footer>
    <script src="" async defer></script>





</body>

</html>