<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
{% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ blog1.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
    </head>
    <body>
    <div class="card>"
    {% for blogs in blog1 %}
       <h1>{{ blogs.title }}</h1><br><br>
       <h3>{{ blogs.content }}<br>
       <h3>Created at:{{blogs.datetime}}<h2><br>
       <h3>{{blogs.detail}}</h3>
        {% endfor %}
        </div>
        <script src="" async defer></script>
    </body>
</html>